@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Poppins-Regular";
    src: url("../../public/font/Poppins/Poppins-Regular.ttf");
}

@font-face {
    font-family: "Poppins-SemiBold";
    src: url("../../public/font/Poppins/Poppins-SemiBold.ttf");
}
